@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.app {
    position: relative;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #1E1F25;

    background-color: #D6D8CE;
    /*background-color: red;*/
}

.app::before {
    position: absolute;
    content: '';
    display: block;
    top: 70px;
    height: 1px;
    width: 100%;
    background: #000;
}

a {
    text-decoration: none;
    color: #1E1F25;
}

a:hover {
    text-decoration: underline;
    color: #1E1F25;
}

ul, h1, p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;

    /*border: 1px solid green;*/
}

section {
    margin-bottom: 70px;

    /*border: 1px solid blue;*/

}

/* Шапка */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 70px;
    min-height: 70px;

    border-bottom: 1px solid black;

}

.logo img {
    width: 40px;
    margin-right: 70px;
    margin-top: 5px;
}

.nav {
}

.menu__item_list {
    display: flex;
    flex-direction: row;
}

.menu__item {
    font-weight: 700;
    margin-right: 30px
}

/* Первый экран*/

.first_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.first_screen__text {
    display: flex;
    flex-direction: column;

    max-width: 460px;

    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 35px;


    /*border: 1px solid red;*/
}

.heading {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 70px;
    line-height: 70px;

    /*border: 1px solid green;*/

}

.subtitle_red {
    font-size: 35px;
    line-height: 40px;

    color: #B50814;

    /*border: 1px solid green;*/

}

.location {
    position: relative;
    padding-left: 15px;
}

.location::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    width: 15px;
    height: 100%;
    background-image: url('https://www.svgrepo.com/show/309741/location.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.first_screen__image {
    width: 300px;
    height: 280px;
}

/*Tecnologies section*/

.technologies_wrapper {
    background-color: black;
}

.technologies {
    margin-left: 140px;
    display: inline-block;
    padding: 0 20px;
    background-color: #D6D8CE;
}

.subtitle {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;

    /*border: 1px solid red;*/
}

.subtitle_alt {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.technology_item {
    margin-bottom: 5px;
}

/*Projects section*/

.projects_section {
    display: flex;
    flex-direction: column;

    /*border: 1px solid red;*/
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.project__right {
    justify-content: flex-end;

}

.project__image {
    /*margin-right: 20px;*/
    width: 460px;
    height: 280px;
    background: black;
}

.project__image__left {
    margin-right: 20px;
}

.project__text {
    position: relative;
    max-width: 300px;
    padding-top: 35px;
}

.project__text__left::before {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    left: -10px;
    height: 1px;
    width: 50vw;
    background-color: black;
}

.project__text__left::after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    left: -20px;
    top: 0px;
    width: 20px;
    background-color: #D6D8CE;
}

.project__text__right {
    margin-right: 20px;
}

.project__text__right::after {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    right: 0;
    height: 1px;
    width: 50vw;
    background-color: black;
}


.project_title {
    font-size: 35px;
    line-height: 45px;
}

.project__desc {
    margin-bottom: 5px;
}

/*Footer*/
footer {
    position: relative;
    padding-bottom: 35px;
}

footer::before {
    position: absolute;
    content: '';
    display: block;
    top: -10px;
    height: 1px;
    width: 100%;
    background: #000;
}

.contacts_item {
    margin-bottom: 5px;
}

.contacts_item:last-child {
    margin-bottom: 0px;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 800px) {
    .first_screen {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .first_screen__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*max-width: 300px;*/
    }

    .heading {
        display: block;
    }
    .technologies {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 768px) {
    .technologies {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 480px) {
    .technologies {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 320px) {

}





