.mainBlock  {
    height: 100vh;
    background-color: #ebe7f6
}

.container {
    flex-wrap: wrap;
}

.text {
    width: 300px;
    background-color: slategrey;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: slategrey;
}