@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.app {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #1E1F25;

  background-color: #D6D8CE;
  /*background-color: red;*/
}

a {
  text-decoration: none;
}

.wrapper {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
