.footer  {
    height: 0vh;
    background-color: #ebe7f6;
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.footerElements {
    border: 1px solid;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footerElement {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: darkslategrey;
}